{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens":"always",
  "endOfLine":"auto",
  "quoteProps":"consistent",
  "jsxSingleQuote": true,
  "proseWrap":"always",
  "htmlWhitespaceSensitivity": "css"
}
